.font_titulo_personalizado {
    color: #E47137;
    font-size: 54px;
    line-height: 60px;
    letter-spacing: 5px;
    text-transform: capitalize;
    font-weight: 450;
}

.font_titulo_personalizado2 {
  color: #e47137a8;
  font-size: 34px;
  line-height: 60px;
  letter-spacing: 5px;
  text-transform: capitalize;
  font-weight: 450;
}

.font_personalizado {
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 38px;
}

.buttonCustome{
    background-color: #fff;
    color: #E47137;
    border: 2px solid #e47137a8;
    border-radius: 5px;
    padding: 5px 15px;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 25px;
}

.buttonCustome:hover{
    background-color: #E47137;
    color: #fff;
    border: 2px solid #e47137a8;
    border-radius: 5px;
    padding: 5px 15px;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 25px;
}

@media (max-width: 768px) {
    .font_titulo_personalizado {
        color: #E47137;
        font-size: 34px;
        line-height: 60px;
        letter-spacing: 5px;
        text-transform: capitalize;
        font-weight: 450;
    }
    .font_titulo_personalizado2 {
        color: #e47137a8;
        font-size: 24px;
        line-height: 60px;
        letter-spacing: 5px;
        text-transform: capitalize;
        font-weight: 450;
    }
    .font_personalizado {
        font-size: 16px;
        letter-spacing: 1px;
        line-height: 38px;
    }
    .buttonCustome{
        background-color: #fff;
        color: #E47137;
        border: 2px solid #e47137a8;
        border-radius: 5px;
        padding: 5px 15px;
        font-size: 16px;
        letter-spacing: 1px;
        line-height: 25px;
    }
    .buttonCustome:hover{
        background-color: #E47137;
        color: #fff;
        border: 2px solid #e47137a8;
        border-radius: 5px;
        padding: 5px 15px;
        font-size: 16px;
        letter-spacing: 1px;
        line-height: 25px;
    }
}